<h1>We undersigned citizens demand an immediate ban on cigarette smoke in all public places:</h1>
<img src="/images/smoking-ban-solid.svg" id="image" alt="">
{{#cities}}
<p>{{firstname}} {{lastname}} {{age}} {{city}} {{#if url}}{{/if}}</p>

{{/cities}}
