<form class="login"  method="post">
    <input id="emailfield" type="email" name="email" value="">
    <input id="passwordfield" type="password" name="password" value="">
    <button type="submit" name="login">LOG IN</button>

</form>
