<p>Now tell us more about yourself:</p>
<img src="/images/smoking-ban-solid.svg" id="image" alt="">

<form class="profile"  method="post">
    <input id="agefield" type="age" name="age" placeholder="age">
    <input id="cityfield" type="city" name="city" placeholder="city">
    <input id="homepagefield" type="homepage" name="url" placeholder="homepage">
    <button type="submit" name="continue">CONTINUE</button>

</form>
