<p>We're close to reaching the world without cigarette smoke. Join our campaign today.</p>

<form class="registerform"  method="post">
    <input id="firstname" type="text" name="name" placeholder="name">
    <input id ="lastname" type="text" name="surname" placeholder="surname">
    <input id="email" type="text" name="email" value="email">
    <input id="password" type="password" name="password" value="password">


    <button name="button">SIGN UP</button>
    <p> If you're already a member, please <a href="/login"> log in.</a> </p>
</form>
