<p>Thank you for signing this petition!</p>
<a href="/logout"></a>

<img src="/images/smoking-ban-solid.svg" id="image" alt="">

<div class="signerslist">
    <a href= "/signers">See {{ signed }} who also supported this idea</a>

</div>
<img src="{{signature}}" alt="">

<div class="editoption">
    <a href= "/profile/edit">Edit your profile</a>

</div>
