<p>We undersigned demand immediate ban on cigarette smoke in all public areas:</p>

<li>
    {{#signers}}
    <li>
        {{firstname}}
        {{lastname}}
        {{age}}
        {{city}}

    </li>

    {{/signers}}
</li>
