<p>Thank you for singing this petition. Let's hope it will change bad habits around us.</p>
<img src="/images/smoking-ban-solid.svg" id="image" alt="">
<img src="{{ url }}" alt="">
<p> <a href= "/signers"> Here is the list of all signers so far: </a></p>
