<p>Cigarette smoke is everywhere you go in Serbia.</br>
Please sign this petition to ban cigarette smoke in public places.</p>
<form class="submitform"  method="post">
    <input id="firstname" type="text" name="name" value="Name">
    <input id ="lastname" type="text" name="surname" value="Surname">
    <input type="hidden" name="signature" value="">

    <canvas id="canvas" width="400" height="100"></canvas>
    <button name="button">SUBMIT</button>

</form>
