
<img src="/images/smoking-ban-solid.svg" id="image" alt="">
<p>Cigarette smoke is everywhere you go.</br>
Please sign this petition to ban cigarette smoke in public areas.</p>
{{#if error}}
    <p>Something went wrong. Please sign again.</p>

{{/if}}

<form class="submitform"  method="post">

    <input id="signatures" type="hidden" name="signature" value="">

    <canvas id="canvas" width="600" height="100"></canvas>
    <button name="button">SUBMIT</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
