* {
    background-color: #071a52;
}
body {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: #17b978;
}
/* .submitform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
#firstname {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#lastname {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#email {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#password {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#emailfield {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#passwordfield {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#agefield {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#cityfield {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}
#homepagefield {
    width: 240px;
    height: 50px;
    background-color: #17b978;
}

button {
    background-color: #17b978;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-stretch: extra-expanded;
}
#canvas {
    border: 2px white dotted;
    background-color: #17b978;
}
#signatures {
    width: 300px;
    height: 80px;
    background-color: #17b978;
}
#image {
    width: 80px;
    height: 80px;
    background-color: #17b978;
    display: inline;
}
